<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title></title>
  </head>
  <body>

    <% include ../partials/header %>

    <div class="showPage">
      <img src="<%=hikes.img%>" alt="">
      <h3><%=hikes.name%></h3>
      <p><%=hikes.location%></p>
      <p><%=hikes.description%></p>
      <p>Difficulty: <%=hikes.difficulty%></p>
      <p>
        <% if(hikes.pets === true){ %>
          Pets Allowed
        <% } else { %>
          No Pets Allowed
        <% } %>
      </p>
      <a href="/hikes/<%=hikes.id%>/edit"><button class="btn btn-outline-light my-2 my-sm-0" style="background-color: #7c96c9;">Edit Hike</button></a>
      <form class="deleteBtn" action="/hikes/<%=hikes.id%>?_method=DELETE" method="POST">
        <button class="btn btn-outline-light my-2 my-sm-0" style="background-color: #7c96c9;" type="submit">Delete</button>
      </form>
    </div>

  </body>
</html>
